#shop-cart{
    background: #fff none repeat scroll 0 0;
    padding: 15px 20px;
    border-radius: 20px;
    z-index: 9999;
    position: absolute;
    width: 350px;
}
.cart-img{
    display: inline-block;
    width: 120px;
}
.cart-info{
    display: inline-block;
    width: 165px;
    margin-left: 10px;
}
.cart-totals{
    margin: 25px 10px;
}
.cart-totals h5{
    font-size: 17px;
}
.cart-totals h5 span{
    float: right;
}
.add_to_cart, .cart-checkout{
    padding: 9px 5px;
    width: 100%;
    background: #606060 !important;
    color: #fff;
}
.add_to_cart:hover, .add_to_cart:active, .add_to_cart:focus, .cart-checkout:hover,
    .cart-checkout:active, .cart-checkout:focus{
    background: #606060;
    color: #f0ce16;
}
.discount_price, .out-stock{
    color: #e91113;
}
.product_price{
    font-size: 18px;
    font-weight: 700;
}
.product_content{
    align-items: center;
    padding: 10px;
}
.table-row .row{
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.delete_product{
    width: 25px;
    cursor: pointer;
}
.product_title{
    color: #393939;
    font-size: 24px;
    font-weight: 700;
}
.single-produst{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 15px;
    border-radius: 20px;
    margin: 10px 0;
}
a{
    border: none !important;
}
.out-stock{
    font-size: 24px;
    font-weight: 700;
}